body {
    font-family: sans-serif;
}

/* Header */

.header {
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    justify-content: center;
}

/* Top Content */
.top-content {
    display: flex;
    justify-content: space-between;
    padding: 10px 150px;
}

.top-content img {
    width: 30px;
    height: auto;
}

.top-content ul {
    display: flex;
    margin: 0;
    padding: 0;
}

.bus-name {
    font-size: 24px;
    color: #F9FAF8;
    padding: 0;
    margin: 0;
}

.nav {
    display: flex;
    font-size: 18px;
    list-style: none;
    gap: 60px;
}

.nav a:hover {
    text-decoration: underline;
    text-underline-offset: 5px;
    text-decoration-thickness: 2px;
}

.nav a {
    text-decoration: none;
    color: #E5E7EB;
}

.logo {
    display: flex;
    gap: 10px;
    align-items: center;
}

/* Bottom content */
.bottom-content {
    display: flex;
    justify-content: center;
    gap: 160px;
    margin-top: 40px;
    margin-bottom: 80px;
}

.bottom-content img {
    width: 400px;
    height: auto;
}

.bottom-content .content {
    display: flex;
    flex-direction: column;    
    height: auto;
    width: 400px;
    color: #F9FAF8;
    justify-content: center;
    gap: 0;
}

.bottom-content .main-text {
    font-size: 48px;
    padding: 0;
    margin: 0;
}

.bottom-content .button {
    height: auto;
    width: 80px;
    padding: 5px;
    background-color: #3882F6;
    border-radius: 5px;
    border: none;
    color: #F9FAF8;
}

/* Information */

.information {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 70px;
}

.title {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    padding: 0;
    margin: 0;
    margin-bottom: 60px;
}

.group {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.group img {
    height: 160px;
    width: 160px;
    border: 3px solid rgb(159, 212, 245);
    border-radius: 20px;
}

.group p {
    height: auto;
    width: 160px;
    margin: 0;
    text-align: center;
}

.info-boxes {
    display: flex;
    gap: 40px;
}

/* Reviews */

.reviews {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 100px 200px;
}

.reviews .review {
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    margin: 0;
    padding: 0;
}

.reviews .reviewer {
    font-weight: 700;
    font-size: 25px;
    margin: 0;
    padding: 0;
    align-self: flex-end;
}

/* Action */

.action {
    background-color: #3882F6;
    margin: 100px 200px;
    padding: 50px;
    border-radius: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #E5E7EB;
}

.action button {
    height: 30px;
    width: 90px;
    background-color: #3882F6;
    border: 1px solid white;
    border-radius: 5px;
    color: #F9FAF8;
}

.action button:hover {
    background-color: #F9FAF8;
    color: #3882F6;
}

.action .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.action .bold {
    padding: 0;
    margin: 0;
    font-weight: bold;
}

.action .small {
    padding: 0;
    margin: 0;
}

/* Footer */

.footer {
    background-color: #1F2937;
    color: #F9FAF8;
    text-align: center;
    padding: 30px;
}








